.title {
  color: #ccc;
}

.number_task {
  position: absolute;
  right: 10px;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: .9rem;
}

.container_task {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f3f3f;
  overflow-y: auto;
  max-height: 450px;
  min-height: 450px;

  .task {
    padding: 10px;
    margin: 10px;
    border: 1px solid #222;
    width: 90%;
    position: relative;
    color: #ccc;

    .task_delete {
      position: absolute;
      top: 15%;
      cursor: pointer;
      right: 10px;
      background-color: red;
      padding: 5px;
      border: none;
      outline: none;
      color: white;
    }

    .task_check {
      position: absolute;
      right: 100px;
    }
  }
}

.subrayar {
  text-decoration: line-through;
}
