<h1 [ngClass]="{'r1-5': (numberTask >= 1 && numberTask <= 5),
'r5-10': (numberTask > 5 && numberTask <= 10), 'r10-15': (numberTask > 10)}">Numero de tarea: {{numberTask}}</h1>
<span [ngStyle]="{'color': isActive ? 'green' : 'red'}">Titulo de tarea: {{form.get('title')?.value}}</span>

@if(form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)) {
  <div>
    @if (form.get('title')?.errors?.['required']) {
      <small>
        El titulo es requerido
      </small>
    }
    @if (form.get('title')?.errors?.['maxlength']) {
      <small>
        Maximo de caracteres 10
      </small>
    }
  </div>
}

@if (taskActive) {
  <span>No puedes mandar una tarea sin titulo</span>
}

<hr>
<h2>Tareas</h2>
@for (item of tasks; track $index) {
  <div>
    <small>{{$index}}</small>
    {{item}}
  </div>
}

<form class="container_input" [formGroup]="form" (ngSubmit)="sendTaskTitle()">
  <input type="text" placeholder="Ingresa tarea" formControlName="title">
  <button type="submit" [disabled]="!form.valid">Enviar</button>
</form>



<!-- Formularios de plantilla -->
<!-- @if(myInput.invalid && (myInput.dirty || myInput.touched)) {
  <p>
    @if (myInput.errors?.['required']) {
      <span>Este campo es requerido</span>
    }
  </p>
}

<form class="container_input" #myForm = "ngForm" (ngSubmit)="myForm">
  <input type="text" placeholder="ingresar tarea" [(ngModel)]="titleTask" #myInput = "ngModel" name="taskTitle" required>
  <button type="submit" [disabled]="!myInput.valid">Ingresar tarea</button>
</form>

{{myInput.valid}} -->
